{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body shadow p-4">
                    <h2 class="my-4 text-center">Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="mb-3">
                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password}}
                                {{ form.password.errors }}
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn" style="background-color: #0056b3; color: white;">Login</button>
                        </div>

                        <br/><br/>
                        <div class="text-center">
                            <a href="{% url 'register' %}" class="text-muted">Don't have an account? Register here</a> <br>
                            <a href="{% url 'guest_checkout' %}" class="text-muted">Guest Checkout</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
/* Custom styles for the login form */
.card {
    border-radius: 15px;
    border: none;
}

.card-body {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-dark {
    background-color: #1c1c1f;
    color: #fff;
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #000000;
    color: #fff;
}

h2 {
    font-weight: bold;
}

a.text-muted {
    color: #6c757d !important;
}

a.text-muted:hover {
    color: #000;
    text-decoration: underline;
}
</style>

{% endblock %}
